<div class="row">
  <div class="col-xs-12">
    <img src="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>recipe name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">manage recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">shopping list</a></li>
        <li><a href="#">edit recipe</a></li>
        <li><a href="#">delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    description
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    ingredients
  </div>
</div>